name: update-gh-activity

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: jamesgeorge007/github-activity-readme@v0.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
